@mixin panel_title{
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}
@mixin hoveraction($rightEnd){
  right: $rightEnd;
  opacity: 1;
}
@mixin action($rightStart, $rightEnd){
    display: inline-block;
    position: absolute;
    float: right;
    width: 16px;
    right: $rightStart;
    top: 7px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
}

@mixin panel {
  height: 150px;
  overflow: hidden;
  &:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  }
}

*{
  box-sizing:border-box;
}
.registration, .auth, .reset{
  .panel{
    .header{
      text-align: center;
      font-size: 16px;
    }
  }
}

.executer-index{
  .panel{
    margin-right: 13px;
    margin-bottom: 13px;
    .action {
      display: inline-block;
      position: absolute;
      right: -10px;
      cursor: pointer;
      opacity: 0;
      transition: all .3s ease;
    }
    &:hover .action {
      right: 10px;
      opacity: 1;
    }
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    }
  }
}

.client-index{
  .panel{
    margin-right: 13px;
    margin-bottom: 13px;
    .client-panel {
      .action {
        display: inline-block;
        position: absolute;
        right: -10px;
        cursor: pointer;
        opacity: 0;
        transition: all .3s ease;
      }
      &:hover .action {
        right: 10px;
        opacity: 1;
      }
    }
    .action{
      float: right;
      margin-top: 5px;
      cursor: pointer;
    }
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    }
  }
}

.direction-index{
  margin-top: 20px;
  .direction-table{
    .direction-info{
      margin-right: 5px;
      margin-bottom: 6px;
      .action {
        @include action(-10px, 10px);
      }
      &:hover {
        .action{
          @include hoveraction(10px)
        }
      }
      @include panel;
      height: 55px;
      p{
        @include panel_title;
      }
    }
  }
}

.season-index{
  margin-top: 20px;
  .season-panel{
    height: 118px;
    .action {
      @include action(-2px, 10px);
    }
    &:hover {
      .action{
        @include hoveraction(25px)
      }
    }
  }
}

.branch-index{
  .branch-table{
    margin-top: 20px;
    .branch-info{
      margin-right: 13px;
      margin-bottom: 13px;
      .branch-info_address{
        text-align: center;
      }
      @include panel;
      p{
        @include panel_title;
      }
      .action{
        @include action(0, 20px);
      }
      &:hover {
        .action {
          @include hoveraction(20px)
        }
      }
    }
  }
}