.registration, .auth, .reset{
  .panel{
    .header{
      text-align: center;
      font-size: 16px;
    }
  }
}

.executer-index{
  .panel{
    margin-right: 13px;
    margin-bottom: 13px;
    .action{
      float: right;
      margin-top: 5px;
      cursor: pointer;
    }
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    }
  }
}