*{
  box-sizing:border-box;
}
.registration, .auth, .reset{
  .panel{
    .header{
      text-align: center;
      font-size: 16px;
    }
  }
}

.executer-index, .client-index{
  .panel{
    margin-right: 13px;
    margin-bottom: 13px;
    .client-panel {
      .action {
        display: inline-block;
        position: absolute;
        right: -10px;
        cursor: pointer;
        opacity: 0;
        transition: all .3s ease;
      }
      &:hover .action {
        right: 10px;
        opacity: 1;
      }
    }
    .action{
      float: right;
      margin-top: 5px;
      cursor: pointer;
    }
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    }
  }
}

.direction-index{
  margin-top: 20px;
  .direction-table{
    .direction-info{
      height: 150px;
    }
    p{
      font-size: 16px;
      text-align: center;
      font-weight: 700;
    }
    .panel{
      margin-right: 5px;
      margin-bottom: 6px;
      .action {
        display: inline-block;
        position: absolute;
        float: right;
        width: 16px;
        right: -10px;
        top: 7px;
        cursor: pointer;
        opacity: 0;
        transition: all .3s ease;
      }
      &:hover .action {
        right: 10px;
        opacity: 1;
      }
    }
  }
}