
.chips{
  width: 142px;
  background: #60aeff;
  color: white;
  padding: 3px 5px 4px 5px;
  border-radius: 10px;
  margin-left: 7px;
  margin-top: 5px;
  .close-chips{
    font-size: 11px;
    left: 15px;
    position: relative;
    top: 4px;
    float: right;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  &:hover .close-chips{
    opacity: 1;
    left: 6px;
  }
}